<%- include('../templates/header', { titulo: 'Inicio' }) %>
    <div class="container">
        <h2 class="my-4">Lista de Dulces</h2>
        <a href="/dulce/new" class="btn btn-success">Agregar Dulce</a>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% dulces.forEach(dulce=> { %>
                    <tr>
                        <td>
                            <%= dulce.nombre %>
                        </td>
                        <td>
                            <%= dulce.tipo %>
                        </td>
                        <td>
                            <%= dulce.descripcion %>
                        </td>
                        <td>
                            <a href="/dulce/<%= dulce._id %>/edit" class="btn btn-warning">Editar</a>
                            <form action="/dulce/<%= dulce._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('../templates/footer') %>