<%- include('../templates/header', { titulo: 'Lista de Dulces' }) %>
<div class="container">
    <h2 class="my-4">Lista de Dulces</h2>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <% dulces.forEach(dulce => { %>
                <tr>
                    <td>
                        <% if (dulce.imagen) { %>
                            <img src="/uploads/<%= dulce.imagen %>" alt="Imagen de <%= dulce.nombre %>" width="100">
                        <% } else { %>
                            <span>Sin imagen</span>
                        <% } %>
                    </td>
                    <td><%= dulce.nombre %></td>
                    <td><%= dulce.tipo %></td>
                    <td><%= dulce.descripcion %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <!-- Paginación -->
    <nav>
        <ul class="pagination justify-content-center">
            <% if (currentPage > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/dulce?page=<%= currentPage - 1 %>">Anterior</a>
                </li>
            <% } %>

            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/dulce?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>

            <% if (currentPage < totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="/dulce?page=<%= currentPage + 1 %>">Siguiente</a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>
<%- include('../templates/footer') %>
